/* Estilos para Sticky Footer con Flexbox */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content {
    flex-grow: 1;
}

.carousel-item img {
    max-height: 590px; /* o la altura que prefieras */
    object-fit: cover; /* recorta imagen para que encaje */
    width: 100%;
}

.btn-outline-success {
    border-color: white;
    color: white;
}

.btn-outline-success:hover,
.btn-outline-success:active {
    background-color: #8C6E5F !important;
    border-color: #8C6E5F !important;
    color: white;
}

.btn-success {
    background-color: var(--color-button);
    border-color: var(--color-button);
}

.btn-success:hover {
    background-color: #6F5448;
    border-color: #6F5448;
}

.btn-success:active,
.btn-success.active,
.show>.btn-success.dropdown-toggle {
    background-color: #6F5448 !important;
    border-color: #6F5448 !important;
}

/* ---- colores de "Servicios Populares" (index.html) ---- */

:root {
    --color-principal-fondo: #F5F0E6;
    --color-secundario-fondo: #D9D2C5;
    --color-titulo: #4F463B;
    --color-texto: #706558;
    --color-button: #8C6E5F;
}

.servicio-titulo {
    color: var(--color-titulo);
}

.servicio-descripcion {
    color: var(--color-texto);
}

.servicio-fondo {
    background-color: var(--color-secundario-fondo);
}

.servicio-texto {
    color: var(--color-texto);
}

#servicios .btn-success {
    background-color: var(--color-button);
    border-color: var(--color-button);
}

#servicios .btn-success:hover {
    background-color: #6F5448;
    border-color: #6F5448;
}

.card-body .border-top {
    border-top: 2px solid var(--color-texto) !important;
}
